services:
  app:
    build:
      context: .
    tty: true
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      - WATCHPACK_POLLING=true
    command: sh -c "npm run dev"
    ports:
      - "3000:3000"
volumes:
  node_modules:
